@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section scripts{
    <environment names="Development">
        <script src="~/js/brain.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/brain.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="brain-cont row">
    <div class="col-sm-10">

    </div>
    <div class="col-sm-2">
        Управление

        <span id="spanStatus"></span>
        <div id="spanText"></div>
    </div>
</div>