@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<AspNetCoreTest.Data.Models.Item>
<h1>Items from the storage:</h1>
<ul>
    @foreach (var item in this.Model)
    {
        <li>@item.Name</li>
    }
</ul>
